doctype html
html(lang="en")
  head
    title
      | Madeleine & Joe
    meta(name="viewport",content="width=device-width,initial-scale=1")
    link(rel="icon",href="/images/favicon.ico")
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    link(href='/stylesheets/normalize.css',rel='stylesheet',type='text/css')
    link(href='/stylesheets/reset.css',rel='stylesheet',type='text/css')
    link(href='/stylesheets/gridism.css',rel='stylesheet',type='text/css')
    link(href='/stylesheets/all.css',rel='stylesheet',type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Pacifico',rel='stylesheet',type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300',rel='stylesheet',type='text/css')
  body
    <!--[if lt IE 9]>
    div.browser-warning
      section.wrap.grid
        div.unit.whole
          | You are using a browser that is not supported. Please note that things may not display correctly.
    <![endif]-->

    if current.path.length < 2
      != partial("partials/_rsvp.jade")

    != partial("partials/_header")

    if current.path.length < 2
      section.grid.relative#mobile-nav
        div.unit.whole#mobile-nav-items
          != partial("partials/_navigation")
        div#menu-toggle
          a(href="#")
            svg#toggle-icon.icon(viewBox="0 0 32 32")
                use(xlink:href="#menu")

    if current.path.length < 2
      section.grid.container#desktop-nav
        div.unit.whole
          != partial("partials/_navigation")

    section#content
      div.wrap
        != yield

    if current.path.length > 1
      section.back.wrap.grid
        div.unit.whole
          a(href="/")
            | &#8592 Back to home

    != partial("partials/_footer")


    script(src="/javascripts/cookies.js")
    script(src="/javascripts/introAnimation.js")
    script(src="/javascripts/subscriberForm.js")
    script(src="/javascripts/navigation.js")
    script(src="/javascripts/main.js")
