doctype html
html(lang="en")
  head
    title
      | Natalie & Rob
    meta(name="viewport",content="width=device-width,initial-scale=1")
    link(rel="icon",href="/images/favicon.ico")
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    link(href='/stylesheets/normalize.css',rel='stylesheet',type='text/css')
    link(href='/stylesheets/reset.css',rel='stylesheet',type='text/css')
    link(href='/stylesheets/gridism.css',rel='stylesheet',type='text/css')
    link(href='/stylesheets/all.css',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900',rel='stylesheet' type='text/css')
  body
    != partial("partials/_svg-icons.jade")

    <!--[if lt IE 9]>
    div.browser-warning
      section.wrap.grid
        div.unit.whole
          | You are using a browser that is not supported. Please note that things may not display correctly.
    <![endif]-->

    div.browser-warning
      section.wrap.grid
        div.unit.whole
          | The RSVP system is almost complete. Please check back on October 1st to RSVP! Thanks for your patience.

    a#scrollTop.scroll(href="#header")
      | Up &#8593;

    != partial("partials/_header")

    section.grid.relative#mobile-nav
      div.unit.whole#mobile-nav-items
        != partial("partials/_navigation")
      div#menu-toggle
        a(href="#")
          svg#toggle-icon.icon(viewBox="0 0 32 32")
              use(xlink:href="#menu")

    section.hero

    section.grid.container#desktop-nav
      div.unit.whole
        != partial("partials/_navigation")

    section#content
      div.wrap
        != yield

    if current.path.length > 1
      section.back.wrap.grid
        div.unit.whole
          a(href="/")
            | &#8592 Back to home

    != partial("partials/_footer")

    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46717714-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    script(src="/javascripts/cookies.js")
    script(src="/javascripts/introAnimation.js")
    script(src="/javascripts/subscriberForm.js")
    script(src="/javascripts/navigation.js")
    script(src="/javascripts/main.js")
