section.grid#ceremony.container
  div.unit.whole.section-header
    h3.title
      | Our Wedding
    h5.sub-title
      | Indianapolis, IN

  div.grid
    div.unit.whole
      p
        | On November 8th, 2014, we're making it official in downtown Indianapolis.

    div.grid.card-layout
      div.unit.one-third.card
        h3.activity
          | Ceremony
        p.location
          | St. Mary Catholic Church
        p.time
          | 2:30 pm

      div.unit.one-third.card
        h3.activity
          | Cocktail Hour
        p.location
          | D'Amore
        p.time
          | 5:00 pm

      div.unit.one-third.card
        h3.activity
          | Reception
        p.location
          | D'Amore
        p.time
          | 6:00 pm

    div.grid
      div.unit.whole
        p
          | We are looking forward to celebrating this special day with you!

section.grid.container
  div.unit.whole.split

section.grid#accommodations.container
  div.unit.whole.section-header
    h3.title
      | Accommodations
    h5.sub-title
      | Where to stay

    div.grid
      div.unit.whole
        h1
          | Recommended Hotels
        p
          | The following is a list of hotels where we have negotiated a special rate for our guests to use.

    div.grid
      div.unit.half
        div.hotel-title
          h1
            | Omni Hotel
          a(href="http://www.omnihotels.com/FindAHotel/IndianapolisSeverin/MeetingFacilities/MerzShawWedding11.aspx", target="new")
            | omnihotels.com
        p
          | 40 West Jackson Plaza
          br
          | Indianapolis, IN 46225
          br
          | (317) 634-6664

      div.unit.half
        div.hotel-title
          h1
            | Hilton Garden Inn
          a(href="http://www.hiltongardenindianapolis.com/", target="new")
            | hiltongardenindianapolis.com
        p
          | 10 East Market Street
          br
          | Indianapolis, IN 46204
          br
          | (317) 955-9700

    div.grid
      div.unit.whole
        h1
          | Other Hotels in Area
        p
          | A list of nearby hotels. We do not have a special rate for any of these but they are close by.

      div.grid
        div.unit.half
          ul
            li
              a(href="http://www.marriott.com/hotels/travel/indjw-jw-marriott-indianapolis/", target="new") JW Marriott
            li
              a(href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=3054&language=en_US", target="new") Sheraton
            li
              a(href="http://columbia-club.org", target="new") Columbia Club
            li
              a(href="http://www3.hilton.com/en/hotels/indiana/hilton-indianapolis-hotel-and-suites-INDDNHF/index.html", target="new") Hilton Indianapolis
        div.unit.half
          ul
            li
              a(href="http://embassysuites3.hilton.com/en/hotels/indiana/embassy-suites-indianapolis-downtown-INDWWES/index.html", target="new") Embassy Suites
            li
              a(href="http://indianapolis.hyatt.com/en/hotel/home.html", target="new") Hyatt
            li
              a(href="http://www.westinindianapolis.com", target="new") Westin
            li
              a(href="http://hamptoninn3.hilton.com/en/hotels/indiana/hampton-inn-indianapolis-dwtn-across-from-circle-centre-INDDTHX/index.html", target="new") Hampton Inn

section.grid.container
  div.unit.whole.split.container

section.grid#downtown.container
  div.unit.whole.section-header
    h3.title
      | Downtown Indianapolis
    h5.sub-title
      | Information about the town

  div.grid
    div.unit.half
      h4
        | Getting Around
      p
        | Downtown Indianapolis is very walkable. The Church and Reception venue are less than a mile from each other. If you need a ride, Uber is available along with several taxi companies. There is usually plenty of parking if you choose to rent a car.

    div.unit.half
      h4
        | Looking For Fun
      p
        | Never been to Indianapolis before? There are a lot of great things you can do! Please check back soon for more information.

section.grid.container
  div.unit.whole.split

section.grid#registry.container
  div.unit.whole.section-header
    h3.title
      | Gift Registry

  article.grid
    div.unit.whole
      p
        | We are currently registered at the following stores.

    div.grid#registry-options
      div.unit.half.registry-card
        div.unit.whole.logo
          a(href="http://www.crateandbarrel.com/Gift-Registry/Natalie-Merz-and-Rob-Shaw/r5182806")
            img.registry-logo(src="/images/cratelogo.png")
        div.unit.whole.registry-card
          a(href="http://www.crateandbarrel.com/Gift-Registry/Natalie-Merz-and-Rob-Shaw/r5182806")
            | View Crate & Barrel Registry
      div.unit.half.registry-card
        div.unit.whole.logo
          a(href="http://www1.macys.com/registry/wedding/guest/?registryId=6209849")
            img.registry-logo(src="/images/macyslogo.png")
        div.unit.whole.registry-card
          a(href="http://www1.macys.com/registry/wedding/guest/?registryId=6209849")
            | View Macy's Registry

section.grid.container
  div.unit.whole.split

section.grid#hints.container
  div.unit.whole.section-header
    h3.title
      | Extras
    h5.sub-title
      | A few notes about the celebration

  div.grid
    div.unit.half
      h4
        | Weather?
      p
        | It is impossible to predict weather in the Midwest. We are hoping for a cool fall day. If you want to get a rough idea, check
        = ' '
        a(href="http://forecast.io/#/f/39.7669,-86.1500/1415466000", target="new") here
        | .

    div.unit.half
      h4
        | Food?
      p
        | Have an allergy we should be aware of? Make sure to let us know when you select your meal.

section.grid.container
  div.unit.whole.split

section.grid.container
  div.unit.whole.section-header
    h3.title
      | Stay Up to Date

  div.grid
    div.unit.whole
      p
        | We will be continually updating the website as we countdown to the big day. Please enter your email address below so we can notify you when we update the site!

  div.grid
    form#subscribe-form(action="/subscribers", method="POST")
      div.unit.three-quarters
        input.text#email(type="text", name="email", placeholder="Email Address")
      div.unit.one-quarter
        input.submit(type="submit", value="Subscribe")

  div.grid
    div.unit.whole
      div#subscribe-form-success.hidden
        p
          | Thanks! We will be in touch!
      div#subscribe-form-failure.hidden.error
        p
          | Something went wrong :( <br />
          | Can you try again, please?

section.grid.container
  div.unit.whole.split

div#rb-heart-container
  != partial("partials/_heart.jade")
