
div.our-story#story
  div.story
    | the story
  div.story-sub
    | of Joe and Madeleine


  div.tower
    | Joe and Madeleine met on a chilly winter evening in 2010 at an off campus party at Michigan State (Go Green!).

  div.vanderbilt
    | Joe's family had recently relocated to Nashville and the Vanderbilt hat he was sporting that night caught Madeleine's eye from across the room.

  div.house
    | Madeleine's icebreaker was discussing how one of her good friends Stef was a student at Vanderbilt. Joe was immediately hooked, and it didn't take long for the two to fall in love.

  div.cubs
    | Full-time jobs eventually brought the couple to Chicago following graduation.

  div.trees
    | After a few years in the Windy City enjoying deep dish pizza, friends, family, and the Cubs, the pair traded the polar vortex for the always-sunny San Diego area where they currently reside.

  div.hearts
    | April can't come soon enough where they look forward to heading back to Chicago to exchange vows in front of family and friends!

div.center
  div.rings


section.grid#accommodations.container
  div.unit.half.section-header
    h3.title
      | Accommodations

    div.grid
      div.unit.whole
        div.hotel-title
          h1
            | JW Marriott Chicago
          a(href="https://resweb.passkey.com/go/ShawCastelliWedding", target="new")
            | marriott.com
        p
          | 151 W Adams St
          br
          | Chicago, IL 60603
          br
          | 877-303-0104

  div.unit.half.section-header#registry
    h3.title
      | Gift Registries

    div.grid#registry-options
      div.unit.whole
        p
          a(href="http://www.crateandbarrel.com/gift-registry/madeleine-shaw-and-joseph-castelli/r5385074")
            | Crate & Barrel Registry
        p
          a(href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542793065&pwsurl=")
            | Bed, Bath, & Beyond's Registry
