<section class= "grid container">
  <div class="unit whole">
    <p>RSVP to our wedding here!</p>

    <form>
      {{input value=rsvpCode}}
      <br />
      <button {{action "submit"}}>Submit</button>
    </form>

  </div>
</section>
