<section class= "grid container rsvp">
  <div class="unit whole section-header">
    <h3 class="title">RSVP</h3>
  </div>
  <div class="grid">
    <div class="unit whole">
      <p>To get started, enter the code found on your invitation (<a href="#">where's my code?</a>)</p>
    </div>
  </div>

  <div class="grid">
    <div class="unit three-quarters">
      {{input class="text" placeholder="RSVP Code" value=rsvpCode action="submit"}}
    </div>
    <div class="unit one-quarter">
      <input class="submit" type="submit" value="RSVP" {{action "submit"}}></input>
    </div>
  </div>
</section>
