<section class= "grid container rsvp">
  <div class="unit whole section-header">
    <h3 class="title">RSVP Notes</h3>
  </div>
  <div class="grid">
    <div class="unit half">
      <p>Do you have any dietary restrictions?</p>
      {{textarea class="text" rows="3" value=dietaryRestrictions}}
    </div>
    <div class="unit half">
      <p>Anything else you would like to tell us?</p>
      {{textarea class="text" rows="3" value=notesForBrideGroom}}
    </div>
  </div>
  <div class="unit whole">
    <input class="submit" type="submit" value="Next" {{action "next"}}></input>
  </div>
</section>
