<section class= "grid container rsvp">
  <div class="unit whole section-header">
    <h3 class="title">RSVP Attendees</h3>
  </div>
  <div class="unit whole">
    <input class="submit" type="submit" value="Next" {{action "next"}}></input>
  </div>
</section>
