<section class= "grid container">
  <div class="unit whole">
    <p>Time to RSVP!!!</p>

    {{#if model.rsvpCode}}
      <p>Code: {{model.rsvpCode}}</p>
    {{else}}
      <p>There is no reservation with the submitted RSVP code.</p>
    {{/if}}

      </div>
</section>
