header
  div.wrap.grid
    div.unit.whole#h-container
      div#header-info
        div#title
          | Natalie & Rob
        div#date
          | November 8th, 2014
      div#menu-toggle
        a(href="#" onclick="javascript:toggleMobileMenu();return false;")
          svg#toggle-icon.icon(viewBox="0 0 32 32")
              use(xlink:href="#menu")
