svg#red-black-heart(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xml:space='preserve', version='1.1', viewBox='0 0 135.33749 149.3', height='300', width='270')
    metadata#metadata8
        rdf:rdf
          cc:work(rdf:about='')
            dc:format image/svg+xml
            dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
      defs#defs6
        clippath#clipPath18(clippathunits='userSpaceOnUse')
          path#path20(d='m 0,0 1082.65,0 0,1194 L 0,1194 0,0 Z')
      g#g10(transform='matrix(1.25,0,0,-1.25,0,149.3)')
        g#g12(transform='scale(0.1,0.1)')
          g#g14
            g#g16(clip-path='url(#clipPath18)')
              path#outer-heart.path(style='fill: none; stroke: #535253; stroke-width: 15.76159954; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 4; stroke-dasharray: none; stroke-opacity: 1;', d='m 680.883,3.5 c 0,0 -94.571,191.109 252.187,754.586 346.75,563.474 -6.621,590.054 -376.664,-33.008 0,0 -251.832,277.312 -492.1951,143.34 0,0 -210.8129,-143.828 183.2271,-330.996 0,0 417.683,-220.664 417.683,-287.645')
              path#inner-heart(style='fill: #941a20; fill-opacity: 1; fill-rule: nonzero; stroke: none;', d='m 624.398,396.875 c 0,0 -37.371,-37.508 140.247,251.125 177.625,288.652 -3.391,302.273 -192.93,-16.898 0,0 -129.016,142.054 -252.137,73.421 0,0 -107.98,-73.668 93.863,-169.55 0,0 207.02,-107.051 207.02,-141.379')
