ul
  li
    a.scroll(href="#ceremony")
      | Our Wedding
  li
    a.scroll(href="#accommodations")
      | Accommodations
  li
    a.scroll(href="#registry")
      | Registry
  li
    a.scroll(href="#downtown")
      | Downtown
