ul
  li
    a(href="#" onclick="javascript:scrollToAnchor('#ceremony');return false;")
      | Our Wedding
  li
    a(href="#" onclick="javascript:scrollToAnchor('#accommodations');return false;")
      | Accommodations
  li
    a(href="#" onclick="javascript:scrollToAnchor('#registry');return false;")
      | Registry
  li
    a(href="#" onclick="javascript:scrollToAnchor('#downtown');return false;")
      | Downtown
