ul
  li
    a(href="rsvp/")
      img(src="/images/directions.png")
      br
      | RSVP
  li
    a.scroll(href="#accommodations")
      img(src="/images/ceremony.png")
      br
      | Ceremony & Reception
  li
    a.scroll(href="#accommodations")
      img(src="/images/chicago-flag.png")
      br
      | Chicago
  li
    a.scroll(href="#accommodations")
      img(src="/images/hotel.png")
      br
      | Accommodations
  li
    a.scroll(href="#registry")
      img(src="/images/flower.png")
      br
      | Registry

