div.background

div.foreground
  h3 It's time to RSVP!
  form(action="rsvp/", method="GET")
    input.submit(type="submit", value="RSVP")
  
  p.dismiss
    a#dismiss-rsvp(href="#no-rsvp") Not right now