if showRsvpBanner
  div.browser-warning.container
    section.wrap.grid
      div.unit.whole
        div
          a(href="/rsvp/") It is time to RSVP! Get started now &rarr;

if showRsvpNotReadyBanner
  div.browser-warning.container
    section.wrap.grid
      div.unit.whole#weather
        | Check current weather forecast:
        a(href="https://api.forecast.io/forecast/5cf35f19e7d7486dc45f8bdf44b1c68f/39.6647,-86.1251,2014-11-08T12:00:00-0400") forecast.io