# Ignore Harp build directory
/build/

# gift registry logos
cratelogo.png
macyslogo.png

## Mac OS X files
## source: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Node
node_modules
npm-debug.log

# ignore compiled ember assets
/client/dependencies
/client/rsvp/application.js
