@body-text-color: #4a525a;
@card-background-color: rgba(240, 240, 240, 1);
@box-border-color: #ddd;
@red-heart-color: #C32148;
@button-color: #2E4172;
@text-shadow-color: rgba(0,0,0,0.1);
@img-shadow-color: rgba(0,0,0,0.2);


@blue-color: #2E4172;
@very-light-blue-color: #7887AB;
@light-blue-color: #4F628E;
@dark-blue-color: #162955;
@very-dark-blue-color: #061539;
