<div class="grid">
  <div class="unit whole">
    <p>
      Dear {{reservationTitle}},
    </p>
    <p>
      Please let us know if you are able to attend our wedding and if so, who will be coming. The following screens will help you RSVP with the information we need to ensure we all have a great weekend. If you have any questions or issues, please reach out to us at the following email address: <a href="mailto:rob.natalie.wedding@gmail.com">rob.natalie.wedding@gmail.com</a>.
    </p>
  </div>
</div>

<div class="grid">
  <div class="unit whole rsvp-navigate">
    <ul>
      <li><input class="submit previous cancel" type="submit" value="Cancel" {{action "previous"}}></input></li>
      <li><input class="submit next" type="submit" value="Next" {{action "next"}}></input></li>
    </ul>
  </div>
</div>
