<div class="grid">
  {{#if isAttendingBigDay}}
    <div class="unit half">
      <p>Do you or your guests have any dietary restrictions?</p>
      {{textarea class="text" rows="3" value=dietaryRestrictions}}
    </div>
  {{/if}}
  <div class="unit half">
    <p>Anything else you would like to tell us?</p>
    {{textarea class="text" rows="3" value=notesForBrideGroom}}
  </div>
</div>

<div class="grid">
  <div class="unit whole rsvp-navigate">
    <ul>
    <li><input class="submit previous" type="submit" value="< Back" {{action "previous"}}></input></li>
    <li><input class="submit next" type="submit" value="Next >" {{action "next"}}></input></li>
    </ul>
  </div>
</div>
