<div class="grid">
  <div class="unit whole">
    <input class="submit" type="submit" value="Back" {{action "previous"}}></input>
  </div>
</div>
<div class="grid">
  <div class="unit whole">
    <input class="submit" type="submit" value="Next" {{action "next"}}></input>
  </div>
</div>
