<div class="grid">
  <div class="unit whole rsvp-navigate">
    <ul>
    <li><input class="submit previous" type="submit" value="< Back" {{action "previous"}}></input></li>
    <li><input class="submit next submit-rsvp" type="submit" value="Submit" {{action "next"}}></input></li>
    </ul>
  </div>
</div>
